<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.DbKeeperNetConfigurationSection,DbKeeperNet.Engine"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <dbkeeper.net loggingService="log4net">
    <updateScripts>
      <add provider="asm" location="DbKeeperNet.Log4NetSimpleDemo.DatabaseSetup.xml,DbKeeperNet.Log4NetSimpleDemo" />
    </updateScripts>
    <databaseServiceMappings>
      <add connectString="default" databaseService="MsSql" />
    </databaseServiceMappings>
    <extensions>
      <add assembly="DbKeeperNet.Extensions.Log4Net"/>
    </extensions>
  </dbkeeper.net>
  <connectionStrings>
    <!-- <add name="default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbkeepernet;User ID=dbkeepernet;Password=dbkeepernet" providerName="System.Data.SqlClient"/> -->
    <add name="default" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='|DataDirectory|\DbKeeperNetLog4NetSimpleDemo.mdf';Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="DbKeeperNet.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="DbKeeperNet">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>
</configuration>
