<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!-- You can override any properties from Properties.xml here -->
<!--    <SvnBuild>1.5.1.1</SvnBuild> -->
    <TmpDir>tmp</TmpDir>
    <NUnitTool>C:\Program Files (x86)\TestDriven.NET 2.0\NUnit\2.5\nunit-console.exe</NUnitTool>
    <XsdTool>C:\Program Files (x86)\Microsoft Visual Studio 8\SDK\v2.0\Bin\xsd.exe</XsdTool>
    <NDocTool>C:\Program Files (x86)\NDoc3\bin\ndoc3console.exe</NDocTool>
  </PropertyGroup>
</Project>
