<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.DbKeeperNetConfigurationSection,DbKeeperNet.Engine"/>
  </configSections>
  <dbkeeper.net loggingService="fx">
    <databaseServiceMappings>
      <add connectString="mock" databaseService="MockDriver" />
      <add connectString="mssql" databaseService="MsSql" />
      <add connectString="mysql" databaseService="MySqlNet" />
      <add connectString="pgsql" databaseService="PgSql" />
    </databaseServiceMappings>
    <extensions>
      <!-- <add assemblyPath="" /> -->
    </extensions>
  </dbkeeper.net>
  <connectionStrings>
    <add name="mssql"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DbKeeperNetNUnit.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="mysql"
      connectionString="Server=192.168.56.101;Database=mytest;Uid=mytest;Pwd=mytest" 
      providerName="MySql.Data.MySqlClient" />
    <add name="pgsql" connectionString="Server=192.168.56.101;Database=pgtestdb;User id=pgtest;password=pgtest" providerName="Npgsql"/>
  </connectionStrings>
</configuration>