<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.DbKeeperNetConfigurationSection,DbKeeperNet.Engine"/>
  </configSections>
  <dbkeeper.net loggingService="fx">
    <databaseServiceMappings>
      <add connectString="mock" databaseService="MockDriver" />
    </databaseServiceMappings>
    <updateScripts>
      <add provider="disk"  location="update.xml" />
    </updateScripts>
  </dbkeeper.net>
</configuration>