<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.DbKeeperNetConfigurationSection,DbKeeperNet.Engine"/>
  </configSections>
  <dbkeeper.net loggingService="fx">
    <databaseServiceMappings>
      <add connectString="firebird" databaseService="Firebird"/>
      <add connectString="oracle" databaseService="Oracle"/>
    </databaseServiceMappings>
    <extensions>
      <!-- <add assemblyPath="" /> -->
    </extensions>
  </dbkeeper.net>
  <connectionStrings>
    <add name="firebird" connectionString="Server=192.168.2.103;Database=c:\program files (x86)\firebird\data\fbtestdb;User id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
    <add name="oracle" connectionString="Data Source=XE;User Id=test2;Password=test" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
    </DbProviderFactories>
  </system.data>
</configuration>
