<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.Windows.DbKeeperNetConfigurationSection,DbKeeperNet.Engine.Windows"/>
  </configSections>
  <dbkeeper.net>
  </dbkeeper.net>
  <connectionStrings>
    <add name="mssql"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DbKeeperNetNUnit.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="mysql"
      connectionString="Server=192.168.56.101;Database=mytest;Uid=mytest;Pwd=mytest"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
