<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.Windows.DbKeeperNetConfigurationSection,DbKeeperNet.Engine.Windows"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <dbkeeper.net loggingService="fx">
    <updateScripts>
      <add provider="asm" location="DbKeeperNet.AspNetMembershipDemo.DatabaseSetup.xml,DbKeeperNet.AspNetMembershipDemo" />
    </updateScripts>
    <databaseServiceMappings>
      <add connectString="default" databaseService="MsSql" />
      <add connectString="mysql" databaseService="MySqlNet" />
      <add connectString="pgsql" databaseService="PgSql" />
      <add connectString="sqlite" databaseService="SQLite" />
      <add connectString="oracle" databaseService="Oracle" />
    </databaseServiceMappings>
  </dbkeeper.net>
  <connectionStrings>
    <!-- <add name="default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbkeepernet;User ID=dbkeepernet;Password=dbkeepernet" providerName="System.Data.SqlClient"/> -->
    <!-- Change this to correct absolute path for the demo or to an actual database -->
    <add name="default" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Users\voloda\MyRoot\Development\GIT\DbKeeperNet\DbKeeperNet\Demos\DbKeeperNet.AspNetMembershipDemo\bin\Debug\DbKeeperNetAspNetMembershipDemo.mdf';Integrated Security=True;Connect Timeout=30;User Instance=True;Initial catalog=DbKeeperNetAspNetMembershipDemo" providerName="System.Data.SqlClient"/>
    <add name="mysql"
      connectionString="Server=192.168.56.101;Database=mytest;Uid=mytest;Pwd=mytest"
      providerName="MySql.Data.MySqlClient" />
    <add name="pgsql" connectionString="Server=192.168.56.101;Database=pgtestdb;User id=pgtest;password=pgtest" providerName="Npgsql"/>
    <add name="sqlite" connectionString="Data source=sqllitesimpledemo.db3" providerName="System.Data.SQLite"/>
    <add name="oracle" connectionString="Data Source=XE;User Id=test;Password=Test" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="default" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="default" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <profile enabled="false">
      <providers>
        <clear/>
      </providers>
    </profile>
  </system.web>
  <system.diagnostics>
    <!-- uncomment this for TraceSource class logger (fxts)-->
    <!--
    <sources>
      <source name="DbKeeperNet" switchName="DbKeeperNet">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DbKeeperNet" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="file" initializeData="dbkeepernetts.log" type="System.Diagnostics.TextWriterTraceListener" />
    </sharedListeners>
    -->
    <trace autoflush="true">
      <!-- uncoment this for .NET Trace class logging (fx logger)-->
      <listeners>
        <add name="file" initializeData="dbkeepernet.log" type="System.Diagnostics.TextWriterTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
