<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbkeeper.net" type="DbKeeperNet.Engine.DbKeeperNetConfigurationSection,DbKeeperNet.Engine"/>
  </configSections>
  <dbkeeper.net loggingService="fx">
    <assemblyUpdates>
      <add assembly="DbKeeperNet.ComplexDemo" manifestResource="DbKeeperNet.ComplexDemo.DatabaseSetupPart1.xml" />
      <add assembly="DbKeeperNet.ComplexDemo" manifestResource="DbKeeperNet.ComplexDemo.DatabaseSetupPart2.xml" />
      <add assembly="DbKeeperNet.ComplexDemo" manifestResource="DbKeeperNet.ComplexDemo.Another.DatabaseSetupEx.xml" />
    </assemblyUpdates>
    <databaseServiceMappings>
      <add connectString="default" databaseService="MsSql" />
    </databaseServiceMappings>
  </dbkeeper.net>
  <connectionStrings>
    <!-- <add name="default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbkeepernet;User ID=dbkeepernet;Password=dbkeepernet" providerName="System.Data.SqlClient"/> -->
    <add name="default" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='|DataDirectory|\DbKeeperNetComplexDemo.mdf';Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <!-- uncomment this for TraceSource class logger (fxts)-->
    <!--
    <sources>
      <source name="DbKeeperNet" switchName="DbKeeperNet">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DbKeeperNet" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="file" initializeData="dbkeepernetts.log" type="System.Diagnostics.TextWriterTraceListener" />
    </sharedListeners>
    -->
    <trace autoflush="true">
      <!-- uncoment this for .NET Trace class logging (fx logger)-->
      <listeners>
        <add name="file" initializeData="dbkeepernet.log" type="System.Diagnostics.TextWriterTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>